body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}
*{
  box-sizing: border-box;
}
.contenedor {
 max-width: 800px;
 margin: 30px auto;
 background-color: white;
 padding: 25px;
 border-radius: 12px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button {
 background-color: #1f3c88;
 color: white;
 border: none;
 padding: 10px 16px;
 border-radius: 8px;
 cursor: pointer;
}
button:hover {
 background-color: #16306b;
}
h1,h2 {
 color: #1f3c88;
}
.formulario,.lista {
 margin-top: 20px;
 text-align: left;
}
input {
 display: block;
 width: 100%;
 margin-bottom: 12px;
 padding: 10px;
 border: 1px solid #ccc;
 border-radius: 8px;
}
.card-paciente {
 background-color: #f8f9fa;
 padding: 15px;
 border-radius: 10px;
 margin-top: 15px;
 border-left: 5px solid #1b3c88;
}
.grupo-botones {
 display: flex;
 gap: 10px;
 margin-top: 10px;
}
.boton-eliminar {
 background-color: #c0392b;
}
.boton-eliminar:hover {
 background-color: #962d22;
}
.boton-cancelar {
 background-color: #7f8c8d;
}
.boton-cancelar:hover {
 background-color: #5f6b6d;
}