body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}
*{
  box-sizing: border-box;
}
.App{
  margin: 3px auto;
}
.img-usuario{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.img{
  width: 150px;
}
.contenedor_1{
 max-width: 800px;
 margin: 200px auto;
 background-color: white;
 padding: 25px;
 border-radius: 12px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor_2 {
 max-width: 800px; 
 margin: 30px auto;
 background-color: white;
 padding: 25px;
 border-radius: 12px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
 background-color: #1f3c88;
 color: white;
 border: none;
 padding: 10px 16px;
 border-radius: 8px;
 cursor: pointer;
 transition: .5;
}
button:hover {
 background-color: #28385e;
 transition: 1s;
}
.login-button{
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  font-size: 2rem;
  line-height: 1.3;
}
h1,h2 {
 color: #1f3c88;
 padding: 7px;
 font-weight: bold;
}
.formulario,.lista {
 margin-top: 20px;
 text-align: left;
}
input {
 display: block;
 width: 100%;
 margin-bottom: 12px;
 padding: 10px;
 border: 1px solid #bcbcbc;
 background-color: #ffffff;
 color: #000000;
 border-radius: 8px;
}
.card-paciente {
 background-color: #f8f9fa;
 padding: 15px;
 border-radius: 10px;
 margin-top: 15px;
 border-left: 5px solid #1b3c88;
}
.grupo-botones {
 display: flex;
 gap: 10px;
 margin-top: 10px;
}
.boton-cancelar{
  margin-top: 25px;
}
.boton-cancelar:hover {
 background-color: #28385e;
 transition: 1s;
}